.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cornflowerblue;
  border: 1px solid cornflowerblue;
  padding: 0 2rem;
}

.app-title {
  margin: 0.5rem 0;
  color: white;
}
